RABBITMQ_USER=guest
RABBITMQ_PASS=change-me

POSTGRES_DB=machinery
POSTGRES_USER=machinery
POSTGRES_PASSWORD=change-me

VAPID_SUBJECT=mailto:your-email@example.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

NEXT_PUBLIC_API_URL=http://your-ec2-ip:8081
